main {
    padding: 0 20px;
    margin-bottom: 50px;
}

h2,
form,
table {
    margin-top: 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bg-shade-3);
    padding: 20px;
    border-radius: 5px;
}

form input,
form select {
    width: 22%;
}

/* form button {
    background-color: var(--color-shade-1);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
} */

form button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

img {
    cursor: pointer;
}

.no-record {
    text-align: center;
    margin-top: 20px;
}

/* 
.message {
    background-color: rgb(49, 153, 49);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} */