<main>
    <h2>Find Customers</h2>

    <form>
        <input type="text" name="customerName" placeholder="search by name..." [(ngModel)]="searchText"
            (ngModelChange)="onSearchByText()">
    </form>

    <table *ngIf="customers.length > 0; else noResults">
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>View Bill</th>
        </tr>
        <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 100, currentPage: p } index as i">
            <td>{{(p-1) * 100 + i + 1}}</td>
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerEmail}}</td>
            <td>{{customer.customerPhone}}</td>
            <td><button (mouseup)="showDialog = !showDialog" (click)="getBill(customer)" class="view-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="25px" class="view">
                        <path
                            d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z" />
                    </svg>
                </button>
            </td>

        </tr>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <ng-template #noResults>
        <p class="noResult">No results found for "<strong>{{searchText}}</strong>".</p>
    </ng-template>

    <app-items-modal [(visible)]="showDialog">
        <h3>Item Details</h3>
        <div *ngFor="let date of uniqueDates">
            {{date}}
            <table class="table-modal">
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Plate Type</th>
                    <th>Price Per Plate</th>
                    <th>Subtotal</th>
                    <th>Visit Timings</th>
                </tr>
                <tr *ngFor="let item of items; let i = index">
                    <ng-container *ngIf="item.date == date">
                        <td>{{item.foodItem}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.plateType}}</td>
                        <td>{{item.pricePerPlate}}</td>
                        <td>{{item.subtotal}}</td>
                        <td>{{item.time }}</td>
                    </ng-container>
                </tr>
            </table>
        </div>


        <button (click)="showDialog = !showDialog" class="btn-primary close-btn">Close</button>
    </app-items-modal>

</main>